.submit{
    top: 10%;
}


.eyebutton{
    background-color: transparent;
    margin-bottom: -13%;
}

.buttons{
    display: flex;
    align-items: center;
}

.button{
    font-weight: bolder;
    font-size: 20px;
}

.save{
    height: 40px;
}

.grid-fixed{
    width: 90%;
}

