.documentation {
  height: 9vh !important;
  max-height: 12vh !important;
}

.imageFromBackend {
  max-width: 600px;
  max-height: 600px;
  display: flex;
  margin: 0 auto;
}

.button {
  top: 0vh !important;
}
