.documentation {
  height: 9vh !important;
  max-height: 12vh !important;
}

.imageFromBackend {
  width: 90%;
  display: flex;
  margin: 0 auto;
}

@media screen and (orientation: portrait) {
  /* Estilos que se ejecutarán si la media query es válida */
  .imageFromBackend {
    width: 90%;
    display: flex;
    margin: 0 auto;
    max-width: 420px;
  }
}

.button {
  top: 0vh !important;
}

.docImage {
  max-width: 480px;
}

.label {
  display: flex;
  text-align: center;
}
