.container-home {
  margin-top: 1em;
}

.main-button {
  position: relative;
  font-weight: bolder;
  font-size: 25px !important;
  margin: 1em;
}

.profile {
  justify-content: space-between;
  margin: auto;
  text-align: center;
}
