.text {
  font-size: 120%;
}

.form {
  top: 5%;
  display: flex;
  margin: 0 auto;
}

.error {
  position: relative;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 300px;
  padding: 10px;
  background-color: rgba(253, 1, 1, 0.63);
  border-radius: 10px;
  font-size: 15px;
  font-weight: bolder;
  text-align: center;
  align-items: center;
}

.entrar {
  font-weight: bolder;
  font-size: 20%;
  max-width: 300px;
  margin: 20px auto;
  margin-top: 40px !important;
}

.links {
  display: flex;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
  margin: 10% auto !important;
  max-width: 400px;
}

.container {
  width: 80%;
}

.item-container {
  margin: auto !important;
}

.button {
  size: small !important;
}

.encabezado {
  display: flex;
  justify-content: center !important;
  align-items: center;
}

.logoImagen {
  display: flex;
  z-index: 1;
  margin-top: 1vh !important;
  margin-bottom: 2vh !important;
  width: auto;
}

.label-stacked {
  display: flex;
  margin-left: 19% !important;
}

.buttonlink {
  max-width: 90%;
  height: 3em !important;
}
.label {
  font-weight: bolder !important;
}
