.miUbicacion {
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;
}

.item {
  margin-top: 5%;
}

.map-container {
  margin-bottom: -20vh !important;
  max-width: 1000px !important;
  margin: 0 auto;
  height: 80% !important;
}

.selected {
  margin-top: 10px;
}

.writeOption {
  display: flex;
  margin: 0 auto;
  margin-bottom: 0px;
  align-items: center;
  max-width: 500px;
}

.selectUbication {
  display: flex;
  align-items: center;
  text-align: center;
}

.save {
  margin-bottom: 5vh !important;
}
