.formItem {
  margin: 0 auto;
  padding: 0 auto;
  display: initial;
}

.buttons {
  display: flex;
  align-items: center;
  margin-top: 2% !important;
  flex-direction: row;
  justify-content: center;
}

.container {
  margin: 0 auto;
  width: 80%;
  margin-top: 3vh !important;
  max-width: 700px;
}

.save {
  height: 40px;
}

.mail {
  display: flex;
  margin-bottom: 2vh !important;
  margin-top: 2vh !important;
}
