

.formItem{
    margin: 0 auto;
}

.buttons{
    display:flex;
    align-items: center;
    margin-top: 5% !important;
    flex-direction: row;
    justify-content: center;
    
}

.container{
    margin: 0 auto;
    width: 80%;
}

.save{
    height: 40px;
}