.item {
  display: flex;
  margin: 0 auto;
  justify-content: space-around !important;
  color: white !important;
}

.grid {
  align-items: center !important;
  text-align: center;
  justify-content: space-around !important;
}

.itemDivider {
  text-align: center;
}
.row {
  display: flex;
  margin: 0 auto !important;
}

.button {
  padding: 0 auto;
  z-index: 3;
}

.topItem {
  font-size: 100% !important;
}
