.row {
  align-items: center;
  text-align: center;
  display: flex;
}

.localization-row {
  display: flex;
  margin-top: 4vh;
}

.label {
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;

  text-align: center;
  align-items: center;
}
