.item {
  display: flex;
  margin: 0 auto;
  justify-content: space-around !important;
}

.grid {
  align-items: center !important;
  text-align: center;
  justify-content: space-around !important;
}

.itemDivider {
  text-align: center;
}
.row {
  display: flex;
  margin: 0 auto !important;
  max-width: 720px !important;
}

.buttonMuActivities {
  padding: 0 auto;
  z-index: 3;
  top: 0px;
}

.topItem {
  font-size: 100% !important;
}

.bolder {
  font-weight: bolder;
}

.mode {
  margin-right: -20px !important;
  margin-left: -20px !important;
}
