.label {
  font-size: 130% !important;
}

.container {
  margin-top: 5% !important;
}

.dates {
  margin: 0 auto !important;
  width: 60%;
  margin-top: 20% !important;
}

.submit {
  padding-bottom: 10%;
}

.nameLabel {
  display: flex;
  margin-left: 13% !important;
  margin-right: 50% !important;
  min-width: 100%;
}

.success {
  display: flex;
  text-align: center !important;
  margin: 0 auto !important;
}

.name {
  display: flex;
  margin-bottom: 2em !important;
}
