.placeholder {
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

.image {
  margin: 3vh auto;
  text-align: center;
  align-items: center;
}

.description {
  margin: 0 auto !important;
  width: 50%;
}

.capturas {
  margin-top: 3%;
  padding: 0;
}

.submit {
  display: flex;
  flex-direction: column;
}

.save {
  margin-top: 15px !important;
  margin-bottom: 10px !important;

  margin: 0 auto;
}

.saveGuardar {
  margin: 0 auto;
  margin-bottom: 10px !important;
}

.capturasNuevas {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.card {
  margin: 5px;
}

.card-img {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.buttonPopUp {
  border: none;
  background-color: transparent;
  outline: none;
}

.name {
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.card-desc {
  font-size: 130%;
  text-align: center;
}

.showImage,
.delete {
  margin: 0 auto;
  max-width: 80%;
}

.imageDoc {
  max-width: 420px;
}
