.aviso {
  display: flex;
  text-align: center;
  align-items: center;
}
.selectItem {
  max-width: 450px !important;
}

.alturaMarea {
  display: flex;
  align-items: center;
  text-align: center;
  min-width: 200px;
  max-width: 200px;
}

.input {
  max-width: 70px;
}

.inputelement {
  max-width: 450px;
  align-items: center !important;
}

.button {
  align-items: center;
  display: flex;
}

.grid {
  max-width: 750px;
}

.head {
  font-weight: bolder;
}

.button {
  display: flex;
  align-items: center;
  bottom: 0px;
}

.success {
  display: flex;
  margin-top: 20px !important;
  text-align: center;
  align-items: center;
}
