.grid {
  margin-right: 1%;
}
.place {
  text-align: center;
  display: flex;
  margin: 0 auto;
}
.placeItem {
  display: flex;
  margin-bottom: 10px;
}

.grid-row {
  max-width: 720px;
}

.topItem {
  margin-left: 0 auto !important;
  text-align: center;
}

.otrosDatos {
  display: flex;
  text-align: center;
  margin-top: 5vh;
}

.nextHours {
  text-align: center;
}

/* .label {
  color: white;
} */

.data {
  /* color: white; */
  font-weight: bold;
  font-size: 100% !important;
}

.underline {
  font-size: 110%;
  text-decoration: underline;
}
